{% extends 'Principal/base.html' %}

{% load static %}

{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Servicios</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
            <li class="breadcrumb-item active">Buscar</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <p class="mb-0">
                    Estamos buscando el servicio
                    <code>{{servicio_nombre}}</code>
                    que se describe                     
                </p>
                {%if servicios %}
                <ul>
                    {%for servicio in servicios %}
                    <li> Servicio: {{servicio.ser_nombre}}</li>
                    <li> Descripcion: {{servicio.ser_descripcion}}</li>
                    <li> Duracion: {{servicio.ser_duracion}}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div style="height: 100vh"></div>
        <div class="card mb-4"><div class="card-body">Sitio en construcción</div></div>
    </div>
</main>
    {% endblock main %}
