{% extends 'Principal/base.html' %}

{% load static %}

{% block main %}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Servicios</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Tablero</a></li>
            <li class="breadcrumb-item active">Servicios</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <p class="mb-0">
                    En esta pagina agregaremos nuevos
                    <code>servicios</code>
                    que realiza 
                    <code>Nails Factory</code>
                    junto a una descripcion.
                </p>
                <p class="mb-0">
                    <form action="" method="POST">
                         {% csrf_token %}
                        <table>
                            {{ mi_formulario.as_table }}
                        </table>
                        <input type="submit" value="Enviar">
                    </form>
                </p>    
            </div>
        </div>
        <div style="height: 100vh"></div>
        <div class="card mb-4"><div class="card-body">Acá, puedo agregar una descripcion final</div></div>
    </div>
</main>
    {% endblock main %}
